@using BlazorComponents.WASM.Data.Models;
@using BlazorComponents.WASM.Data.Static;
@inject ExerciseService _exerciseService;
<h3>TypeaheadListComponent</h3>

@code {
    private List<Exercise> exercises => _
    {

    };

