@using BlazorComponents.WASM.Data.Models;
@using BlazorComponents.WASM.Data.Services;
@inject ExerciseService _exerciseService;
<h3>TypeaheadListComponent</h3>

<ul>
    @foreach (var ex in exercises)
    {
        <li>
            @ex.Name @ex.MuscleGroups.Count
        </li>
    }
</ul>


@code {
    private List<Exercise> exercises => _exerciseService.Exercises;

    protected override async Task OnInitializedAsync()
    {
        await _exerciseService.Load();
    }
}
